.about_wrapper {
   flex-direction: row !important;
   gap: 50px;
   background: url(../../assets/overlay.jpg);
}

.about_image {
   width: 50%;
}

.about_image img {
   width: 72%;
   height: 100%;
   border-radius: 50%;
   border: 1px solid rgb(254, 254, 254);
}

.about_container {
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 18px;
   padding-top: 50px;
}

.about_container small {
   font-size: 20px;
   font-weight: 500;
   color: #ff8d37;
}

.about_container h2 {
   color: white;
   font-size: 48px;
}

.about_container p {
   font-size: 16px ;
   margin: 15px 0;
   color: rgba(200, 194, 194, 0.807);
}

.about_container button {
   width: 180px;
   height: 52px;
}

.about_wrapper {
   flex-direction: row;
   gap: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px;
}

@media screen and (max-width: 1024px) {
   .about_wrapper {
      flex-direction: column !important;
      gap: 30px;
      padding: 40px;
   }

   .about_image {
      width: 60%;
   }

   .about_container {
      width: 80%;
      padding-top: 30px;
   }

   .about_container h2 {
      font-size: 42px;
   }

   .about_container p {
      font-size: 15px;
   }
}


@media screen and (max-width: 768px) {
   .about_wrapper {
      flex-direction: column !important;
      gap: 20px;
      padding: 30px;
   }

   .about_image {
      width: 70%;
   }

   .about_image img {
      width: 100%; 
   }

   .about_container {
      width: 90%;
      padding-top: 20px;
   }

   .about_container h2 {
      font-size: 36px;
   }

   .about_container p {
      font-size: 14px;
   }

   .about_container button {
      width: 170px;
      height: 65px;
      font-size: 16px;
   }
}


@media screen and (max-width: 500px) {
   .about_wrapper {
      flex-direction: column;
      padding: 20px;
   }

   .about_image {
      width: 80%;
   }

   .about_image img {
      width: 100%;
   }

   .about_container {
      width: 100%;
      padding-top: 10px;
   }

   .about_container h2 {
      font-size: 30px;
   }

   .about_container p {
      font-size: 16px;
   }

   .about_container button {
      width: 140px;
      height: 40px;
      font-size: 12px;
   }
}