.header_wrapper {
   background: url(../../assets/overlay.jpg);
   min-height: 100vh;
   flex-direction: row !important;
   padding-top: 160px !important;
}

.header_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 28px;
   width: 50%;
}

.header_container button {
   width: 180px;
   height: 52px;
}

.header_container h1 {
   font-size: 62px;
   color: white;
}

.header_container p {
   color: rgb(247 247 247 / 60%);
   width: 70%;
}

.hero_img {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.hero_img #HeroImg {
   width: 60%;

   border-radius: 50%;
   border: 1px solid rgb(254, 254, 254);
}

@media screen and (max-width: 1400px) {
   .header_container h1 {
      font-size: 70px;
   }

   .hero_img #HeroImg {
      width: 75%;
      height: 75%;
   }

   .header_container button {
      width: 180px;
      height: 52px;
   }
}

@media screen and (max-width: 1100px) {
   .header_wrapper {
      flex-direction: column-reverse !important;
   }

   .header_container {
      width: 100%;
   }

   .hero_img {
      width: 75%;
      margin-bottom: 60px;
   }

   .header_container button {
      width: 180px;
      height: 52px;
   }
}

@media screen and (max-width: 768px) {
   .hero_img {
      width: 80%;
   }

   .hero_img #HeroImg {
      width: 80%;
      height: 80%;
   }

   .header_container h1 {
      font-size: 30px;
   }

   .header_container button {
      width: 130px;
      height: 52px;
      font-size: 16px;
   }
}

@media screen and (max-width: 500px) {
   .hero_img {
      width: 100%;
   }

   .hero_img #HeroImg {
      width: 70%;
      height: 70%;
   }

   .header_container h1 {
      font-size: 30px;
   }

   .header_container button {
      width: 130px;
      height: 52px;
      font-size: 14px;
   }
}